<div class="create-task-fields">
    <div class="create-task-header">
        <p>
            Create new task here!
        </p>
    </div>
    <form [formGroup]="taskForm">
        <label for="title">Title: </label>
        <input id="title" type="text" formControlName="title">
        <br>
        <label for="description">Description: </label> <br>
        <textarea id="description" type="text" formControlName="description" class="description-field"></textarea>
        <br>
        <label for="type">Type: </label>
        <input id="type" type="text" formControlName="type">
        <br>
        <label for="status">Status: </label>
        <input id="status" type="text" formControlName="status">

    </form>
    <br>
    <div *ngIf="taskForm.touched" class="warning-parent">
        <div *ngIf="title?.hasError('required')" class="validation-warning">
            Title is required!
        </div>
        <div *ngIf="description?.hasError('required')" class="validation-warning">
            Description is required!
        </div>
        <div *ngIf="type?.hasError('required')" class="validation-warning">
            Type is required!
        </div>
        <div *ngIf="status?.hasError('required')" class="validation-warning">
            Status is required!
        </div>
    </div>
    <br>
    <button type="button" (click)="createTask()" [disabled]="taskForm.invalid">Create Task</button>
</div>