
$background-color: #333;

.createTaskFields {
    background-color: $background-color;
    border-radius: 1%;
    color: white;
    max-width: 60%;
}

.CreateTaskHeader{
    background-color: bisque;
    color: #333;
    min-height: 50px;
    text-align: center;
}

button{
    padding: 1%;
    border-radius: 10%;
}

.DescriptionField{
    min-width: 90px;
    min-height: 100px;
}