
<div class="createTaskFields">
    <div class="CreateTaskHeader">
        <p>
            Create new task here!
        </p>
    </div>
    <form [formGroup]="taskForm">
        <label for="title">Title: </label>
        <input id="title" type="text" formControlName="title">
        <br>
        <label for="description">Description: </label> <br>
        <textarea id="description" type="text" formControlName="description" class="DescriptionField"></textarea>
        <br>
        <label for="type">Type: </label>
        <input id="type" type="text" formControlName="type">
        <br>
        <label for="status">Status: </label>
        <input id="status" type="text" formControlName="status">

    </form>
    <br>
    <button type="button" (click)="CreateTask()" [disabled]="taskForm.invalid">Create Task</button>
</div>

